


body {
    background-color: #fff2df;
    
}


.navbar {
    border: 1px solid black;
    background-color:#905c3f ;
    height: auto;
    display: flex; /* Change to flex */
    align-items: center; /* Align items vertically center */
    justify-content: space-between; 
    padding: 5px;

}

/* dropdown menu for when in mobile view */
.dropdown,.dropbtn{
    display: none
}


.dropbtn {
    background-color: #fff2df;
    width: 500px;
    color: #905c3f;
    padding: 16px;
    font-size: 25px;

    border: 1px solid #fff2df;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center; /* Center the dropdown content */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff2df;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%; /* Move the dropdown content to the middle */
    transform: translateX(-50%); /* Center the dropdown content */
    font-size: 25px;
}


.dropdown-content a {
    color: #905c3f;
    padding: 16px 20px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #905c3f;
    color: #fff2df; 
}

.dropdown:hover .dropdown-content {
    display: block;
    border: #fff2df 1px;
}

.dropdown:hover .dropbtn {
    background-color: #905c3f;
    color: #fff2df;
}

/*//////////////////////////////////////////////////////////////////////////// */



/* */

.user-pic{
    width:40px;
    border-radius:50%;
    cursor:pointer;
    margin-left: 10px;
}

 .sub-menu-wrap{
    position:absolute;
    top:12.9%;
    right:0%;
    width:320px;
    max-height: 0px;
    overflow: hidden;
    transition:max-height 0.5s;
  }
  
  .sub-menu-wrap.open-menu{
    max-height: 400px;
    z-index: 2;
  }
  
  .sub-menu{
    background:#fff;
    padding:20px;
    margin:10px;
  }
  .user-info{
    display:flex;
    align-items:center;
  }
  .user-info h3{
    font-weight:500;
  }
  .user-info img{
    width:60px;
    border-radius:50%;
    margin-right: 15px;
  }
  .sub-menu hr{
    border:0;
    height:1px;
    width:100%;
    background:#ccc;
    margin: 15px 0 10px;
  }
  .sub-menu-link{
    display:flex;
    align-items:center;
    text-decoration:none;
    color: #525252;
    margin:12px 0;
  }
  .sub-menu-link p{
    width:100%;
  }
  .sub-menu-link img{
    width:40px;
    background:#e5e5e5;
    border-radius:50%;
    padding:8px;
    margin-right:15px;
  }
  .syb-menu-link span{
    font-size:22px;
    transition:transform 0.5;
  }
  .sub-menu-link:hover span{
    transform:translatex(5px);
  }
  .sub-menu-link:hover p{
    font-weight:600;
  }


/*//////////////////// */

/* this will give some space between each layer */

.fill{
    padding: 20px 0px;
}


.fill2{
        padding: 0px 0px;
    }



/* Adjust spacing between logo and links */
.logo {
    float: left;
}

.userimg {
    position: absolute;
    top: 1;
    right: 40px;
    max-width: 10%; /* Adjust the maximum width as needed */
    border-radius: 50%; /* Make the image rounded */
    min-width: 60px;
    min-height: 60px;
}

.userimg img {
    width: 100%;
    max-height: 100px;
    max-width: 100%; /* Ensure the image inside the container doesn't exceed its parent's width */
    border-radius: 50%; /* Ensure the image inside the container is also rounded */
}





.links {
    padding:10px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}

.links ul {
    list-style-type: none;
    padding: 0;
    
}

.links li {
    float: left;
}

.links a {
    display: inline-block;
    margin: 5px 15px;
    margin-top: auto;
    font-size: 17px;
    padding: 10px 30px; /* Adjust padding as needed */
    text-decoration: none;
    color: #fff2df; /* Set link color */
    border: 2px solid #fff2df;
}




.links a:hover {
    background-color: #fff2df;
    transition-duration: 0.2s;
    color: #905c3f;
    
}

/* Clear floats */
.navbar::after {
    content: "";
    display: table;
    clear: both;
}





.container1{
    display: flex;
    /*border: 2px solid black;*/
    padding: 5px;
}

.context1,.context2,.context3{
    width: auto;
    flex: 0%;
    margin-left: 10%;
    text-align: center;
    max-height: 20%;
}


.p{
    font-size: 18px;
    border: #905c3f solid 2px;
}

/* container 2 which is under the hero/banner*/

.container2{
    display: flex;
   /* border: 2px solid black;*/
    padding: 5px;
}

.aboutus,.A-and-L,.contactus{
    width: auto;
    flex: 0%;
    margin-left: 5%;
    text-align: center;
    max-height: 20%;
}


.aboutus,.A-and-L,.contactus{
    position: relative;
    
}


.aboutus .btn{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #fff2df;
        color:#905c3f ;
        font-size: 19px;
        padding: 15px 0px;
        width: 220px;
        border: #905c3f solid 2px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
      }

      .aboutus .btn:hover {
        background-color:#905c3f;
        color:#fff2df ;
      }
    


.A-and-L .btn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#fff2df ;
    color: #905c3f;
    font-size: 19px;
    padding: 15px 0px;
    width: 220px;
    border: #905c3f solid 2px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.A-and-L .btn:hover {
    background-color:#905c3f;
    color:#fff2df ;
  }


.contactus .btn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#fff2df ;
    color: #905c3f;
    font-size: 19px;
    padding: 15px 0px;
    width: 220px;
        border: #905c3f solid 2px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.contactus .btn:hover {
    background-color:#905c3f;
    color:#fff2df ;
  }


/*   ////////////////////////////////////////// */



footer {
    border: 2px solid black;
    background-color: #905c3f;
    padding: 100px;
    margin-top: auto;
    
    
}



.hi{
    display: none;
}



/* all media quires where each one will change diffrent aspects the page at diffrent sizes*/


/* this media quirey will be used for when the page is in full screen */
@media only screen and (max-width: 2512px) and (min-width:1200px){
    
/* bottom */




    .aboutus img{
        width: 80%;
        height: 100%;
    }

    .A-and-L img{
        width: 80%;
        height: 100%
    }

    .contactus img{
        width: 80%;
        height: 100%;
    }
    

/* top */

    .context1 img{
        width: 100%;
        height: 80%;
    }

    .context2 img{
        width: 100%;
        height: 80%;
    }
    
    .context3 img{
        width: 100%;
        height: 80%;
    }

    .fill{
        margin: 80px 0px;
    }

}




@media only screen and (max-width: 620px ) {
    /* For mobile phones: */
    .context1,.context2,.context3{
        margin-left: 3%;
    }

}

/* when gets too view port gets too small images will stack*/
@media only screen and (max-width: 1490px ) {
    /* For mobile phones: */
    .context1,.context2,.context3{
        margin-left: 4%;
        margin-top: 10px;
    }
    .container1{
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .container2{
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    }

    .aboutus,.A-and-L,.contactus{
        margin-left: 0%;
        margin-top: 10px;
    }

    .links{
        display: none;
    }

    .dropdown,.dropbtn{
        display:unset;
    }

    .dropdown{
        right:10%
    }


}


@media only screen and (max-width: 1500px) and (min-width:1500px) {
    /* For mobile phones: */
    .context1,.context2,.context3{
        margin-left: 7.2%;
    }


}


/* when the page gets too small the text will resize and the images will stack  */
    @media only screen and (max-width:881px) and (min-width:0px) {
    .context1,.context2,.context3{
        font-size: 20px;
        margin-left:0px;
        }
        .logo{
            min-width: 35%;
        }

        .dropdown,.dropbtn{
            max-width: 130px;
            margin-right: 90px;
        }
        
        .dropdown{
            right:10%
        }

        .dropdown-content,.dropbtn{
            font-size: 19px;
        }

        
    }


    @media only screen and (max-width:600px) and (min-width:0px) {
        .dropdown{
            right:20px


        }


        

        
    }


     /* when page is smaller than 300px the hight of the cotinaer above will shrink*/
@media only screen and (max-width: 1200px) and (min-width: 0px) {
        .container{
        height: 10px;
    }


}




